---
theme :
 name : kkk

---

<!DOCTYPE html>
<html lang="en">
<head>
	
  <title>Ruby On Rails Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
{% include header.html %}

<br>
<br>

 <div class="container">
  
    <div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-7">
        
        
        <p>{{ content }}</p>
<br>
<br>
<br>
<br>
<br>
<br>
      {% include comments.html %}

      </div>
   <br>
   <br>   
      <div class="col-sm-3">       
        {% include sidebar.html %}
      </div>
     

   </div>
</div>


</body>
</html>

        
